.container{
	margin-top: 20px;
}

h3{
	font-size: 15px;
}
h4{
	font-size: 12px;
}

.header{
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}

hr{
	border-top-color: #999;
	margin: 10px 0;
}

p{
	font-size: 13px;
}

.keyfigures h4{
	min-height: 26px;
}
.statsNum{
	font-size: 20px;
	vertical-align: top;
}
.sparkline{
	display: inline-block;
	padding-left: 10px;
}

#controlslayer{
	text-align: center;
}

/* map legend */
#maplegend li {
	list-style-type: none;
}
#maplegend input {
	margin-right: 10px;
}
#maplegend label {
	font-weight: normal;
}


/* timeline slider styles */
.axis {
  fill: #999;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: #999;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: black;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: #999;
  text-align: center;
  font-size: 12px;
}