.container{
	margin-top: 20px;
}

h3{
	font-size: 14px;
}
h4{
	font-size: 12px;
}
.small{
	font-size: 10px;
}

.header{
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}

hr{
	border-top-color: #999;
	margin: 10px 0;
}

p{
	font-size: 13px;
}

.c3-texts-Unmet text {
  transform: translate(-3px, 0);
}

.keyfigures h4{
	min-height: 26px;
}
.keyfigures h4.header{
	min-height: auto;
}
.keyfigures .d3-tip{
  position: absolute;
  z-index: 1000;
}
.keyfigures .d3-tip h4{
	margin: 0;
	min-height: auto;
	white-space: nowrap;
}
.statsNum{
	font-size: 20px;
	vertical-align: top;
}
.sparkline{
	display: inline-block;
	padding-left: 10px;
}

#controlslayer #timeline{
	padding-top: 0;
}
#controlslayer p{
	color: #999;
}

#mainviz{
	margin-bottom: 20px;
}

.label{
	fill: #999;
	font-weight: normal;
}

#animateBtn{
	font-size: 13px;
	background-color:#6baed6;
	color:#fff;
	border-color:#fff;
}

#map .zoomBtn{
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 25px;
    line-height: 16px;
    position: absolute;
    left: 25px;
    text-align: center;
    width: 25px;
}
#map #zoom-in{
    bottom: 34px;
}

/* map tooltips */
.d3-tip {
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1em;
}
.map-tip{
  position: absolute;
}
.map-tip h4{
	margin: 0;
}
.hidden { 
  display: none; 
}
.topmargin{
	margin-top: 20px;
}

/* map legend */
#maplegend li{
	list-style-type: none;
}
#maplegend input{
	margin-right: 10px;
}
#maplegend label{
	font-weight: normal;
}
#maplegend > div {
	font-size: 12px;
}

/* timeline slider styles */
#timeline{
	width: 365px;
}
.axis {
  fill: #999;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.axis .halo {
  stroke: #999;
  stroke-width: 4px;
  stroke-linecap: square;
}
.slider .handle path {
  stroke: black;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}
.slider .handle text {
  fill: #999;
  text-align: center;
  font-size: 10px;
}